.gradient-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  overflow: hidden;
}
.gradientBg1 {
  position: absolute;
  top: 20px;
  left: 5%;
  width: 400px;
  height: 200px;
  background: linear-gradient(90deg, #00b7ff34, #e600ff38);
  filter: blur(50px);
  border-radius: 30% 70% 47% 53% / 0% 0% 100% 100%;
}

.gradientBg2 {
  position: absolute;
  top: 200px;
  right: -20%;
  width: 75vw;
  height: 50vh;
  background: linear-gradient(#76f4ffa0, #d0ff005a);
  filter: blur(100px);
  border-radius: 10%;
}

.gradientBg3 {
  position: absolute;
  top: 350px;
  left: 10%;
  width: 300px;
  height: 50vh;
  background: linear-gradient(145deg, #ff7f9d8f, #ffe57389);
  filter: blur(80px);
  border-radius: 51% 49% 100% 0% / 83% 69% 31% 17%;
}

.gradientBg4 {
  position: absolute;
  top: 600px;
  left: 50%;
  width: 50vw;
  height: 400px;
  background: linear-gradient(145deg, #ffe58f96, #aefffaa0);
  filter: blur(80px);
  border-radius: 51% 49% 100% 0% / 83% 69% 31% 17%;
}

.gradientBg5 {
  position: absolute;
  top: 850px;
  left: 30%;
  width: 300px;
  height: 400px;
  background: linear-gradient(145deg, #7effc391, #82f3ffa6);
  filter: blur(80px);
  border-radius: 51% 49% 100% 0% / 83% 69% 31% 17%;
}
