* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark: #282e33; /*282e33*/
  --main: #757a76; /*7b7f85*/
  --light: #c1c4c8; /*c1c4c8*/
  --background: #f5f6f7; /*#f5f6f7*/
}

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: -80px;
}
.inForm {
  padding: 50px 15px;
  width: 21%;
  min-width: 350px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  box-shadow: 0px 0px 20px var(--main);
  background: rgba(0, 0, 0, 0.648);
  backdrop-filter: blur(10px);
}
.form-inputs form textarea {
  resize: none;
  width: 100%;
  height: 80px;
  padding: 7px 20px 7px 20px;
  margin-top: 10px;
  border-radius: 7px;
  border: 2px solid var(--background);
  outline: none;
  background: transparent;
}
.form-inputs {
  width: 100%;
}
.form-inputs form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-inputs form input {
  width: 100%;
  max-width: 400px;
  padding: 7px 20px 7px 20px;
  margin-top: 10px;
  border-radius: 7px;
  border: 2px solid var(--background);
  background: transparent;
  outline: none;
  color: var(--background);
}
.name h2 {
  color: var(--background);
}
.formSelect {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  position: relative;
}
.formSelect select {
  padding: 7px 20px 7px 20px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 7px;
  border: 2px solid var(--background);
  background: transparent;
  outline: none;
  color: var(--background);
}
.dcarot1 {
  font-size: 20px;
  color: var(--background);
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -50%);
}
.formSelect option {
  background: var(--dark);
}
.form-inputs form input::placeholder {
  color: var(--background);
}
.button {
  margin-top: 25px;
  width: 100px;
  padding: 8px 25px;
  border-radius: 7px;
  background: var(--background);
  color: var(--dark);
  font-weight: bold;
  transition: 0.4s ease;
  border: 2px solid var(--background);
  cursor: pointer;
}
.button:hover {
  border: 2px solid var(--background);
  color: var(--background);
  background: transparent;
  box-shadow: 0px 0px 20px var(--main);
}
.name h2 {
  margin-bottom: 15px;
}

/*form features*/
.formFeatures {
  display: flex;
  gap: 40px;
  margin-top: 15px;
  white-space: nowrap;
  font-size: 13px;
}
.formFeatures span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.anchors {
  display: flex;
  flex-direction: column;
}

.anchors span a {
  text-decoration: none;
  color: blue;
  width: 100%;
}
.cbox {
  margin-bottom: 8px;
}
.alreadyLogin {
  margin-top: 10px;
  font-size: 13px;
}
.alreadyLogin span,
.registertext span {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
.dialogueBox {
  z-index: 99;
  display: inline-flex;
  padding: 7px 10px;
  flex-direction: column;
  border: 2px solid rgb(0, 133, 113);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 15px var(--dark);
}
.dialogueBox button {
  color: rgb(0, 0, 0);
  padding: 15px 70px;
  outline: none;
  border: none;
  background: transparent;
  transition: 0.4s ease;
  cursor: pointer;
  font-size: 20px;
}
.dialogueBox button:hover {
  background: rgba(0, 0, 0, 0.285);
  color: var(--background);
}
.register {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.help {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
@media screen and (max-width: 900px) {
  .inForm {
    min-width: 330px;
  }
}
@media screen and (max-width: 500px) {
  .inForm {
    margin: 10px;
    width: 90%;
    min-width: 300px;
  }
  .dialogueBox button {
    white-space: nowrap;
  }
}
