/* header */

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --dark: #191c1f; /*282e33*/
  --main: #75777a; /*7b7f85*/
  --light: #c1c4c8; /*c1c4c8*/
  --background: #f5f6f7;
}

.content {
  position: relative;
  z-index: 1;
}

body {
  background: var(--background);
}
.websiteContent {
  margin-top: 80px;
}
.bgHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%);

  z-index: 99;
}
.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.menu {
  margin-left: auto;
  margin-right: 50px;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu ul li {
  margin: 0 15px;
  position: relative;
  opacity: 0;
  animation: ltr 1s calc(0.2s * var(--i)) ease forwards;
  color: var(--dark);
  transition: 0.4s ease;
  font-weight: bolder;
  cursor: pointer;
}
.menu ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -3px;
  background: var(--dark);
  border-radius: 99px;
  transition: 0.4s ease-in-out;
}
.menu ul li:hover::before {
  transform: scaleX(100%);
}

.menuIcon {
  display: none;
}
.selectInfo {
  outline: none;
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 15px;
  padding-right: 20px;
  /* remove default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: auto;
  z-index: 99;
  cursor: pointer;
}
.menu ul a,
.menu2 ul a {
  text-decoration: none;
  color: var(--dark);
}

.selectInfo option {
  text-align: center;
}
.dcarot {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.option {
  background: transparent;
  border: none;
  outline: none;
}
.logo {
  color: var(--dark);
  margin-left: 80px;
  font-size: 35px;
  font-weight: bolder;
  transition: all 0.4s ease;
  /* animation */
  opacity: 0;
  animation: ltr 1s ease forwards;
}
.logo:hover {
  scale: 1.1;
}
.loginButton {
  margin-right: 80px;
}
.loginButton button {
  border: none;
  color: var(--background);
  outline: none;
  padding: 9px 15px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  transition: 0.4s ease;
  background: var(--dark);
  cursor: pointer;
  /* animation */
  opacity: 0;
  animation: rtl 1s 1.5s ease forwards;
}

.loginButton button:hover {
  color: var(--dark);
  background: transparent;
  box-shadow: 0px 0px 10px var(--dark);
}
.loginButton button:active {
  background: var(--dark);
  color: var(--background);
}
.footer {
  width: 100%;
  height: auto;
  background-color: #2f2f2fea;

  display: flex;
  justify-content: space-around;
  padding: 60px 0;
}
.footer .cols {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cols h2 {
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.cols a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.appLogos {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  row-gap: 20px;
  column-gap: 25px;
}
.copyRight {
  width: 100%;
  background: rgb(44, 44, 44);
  padding: 5px 0 5px 20px;
  color: white;
}
/* mobile menu  */
.menu2 {
  display: none;
  position: fixed;
  right: 20px;
  width: 200px;
  height: auto;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px var(--dark);
  border-radius: 15px;
  z-index: 100;
}
.mobileMenu li {
  color: black;
  list-style: none;
  text-align: center;

  border-bottom: 2px solid rgba(40, 40, 40, 0.623);
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
}
.mobileMenu li:nth-last-child(1),
.mobileMenu li:nth-last-child(2),
.mobileMenu li:nth-last-child(3) {
  padding: 10px 0;
}
.menu2 ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-decoration: none;
}
.mobileMenu li:nth-last-child(1) {
  border-bottom: none;
}

@media screen and (max-width: 900px) {
  .loginButton {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .menu4 {
    display: none;
  }
}
@media screen and (max-width: 730px) {
  .menu {
    display: none;
  }
  .menu2 {
    display: block;
  }
  .menuIcon {
    display: block;
    font-size: 30px;
    margin-right: 25px;
    cursor: pointer;
    animation: rtl 1s ease;
  }
  .header .menuIcon {
    color: var(--dark);
  }
  .logo {
    margin-left: 25px;
  }
  /*mobile menu*/
}
@keyframes ltr {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rtl {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
