* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark: #282e33; /*282e33*/
  --main: #75777a; /*7b7f85*/
  --light: #c1c4c8; /*c1c4c8*/
  --background: #f5f6f7;
}

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.inForm {
  padding: 50px 15px;
  width: 23%;
  min-width: 320px;
  border: 2px solid var(--dark);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  box-shadow: 0px 0px 20px var(--main);
}
.form-inputs form textarea {
  resize: none;
  width: 100%;
  height: 80px;
  padding: 7px 20px 7px 20px;
  margin-top: 10px;
  border-radius: 7px;
  border: 2px solid var(--dark);
  outline: none;
}
.form-inputs {
  width: 100%;
}
.form-inputs form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-inputs form input {
  width: 100%;
  max-width: 400px;
  padding: 7px 20px 7px 20px;
  margin-top: 10px;
  border-radius: 7px;
  border: 2px solid var(--dark);
  background: transparent;
  outline: none;
}
.button {
  margin-top: 25px;
  width: 100px;
  padding: 8px 25px;
  border-radius: 7px;
  background: var(--dark);
  color: var(--background);
  font-weight: bold;
  transition: 0.4s ease;
}
.button:hover {
  border: 2px solid var(--dark);
  color: var(--dark);
  background: transparent;
  box-shadow: 0px 0px 20px var(--main);
}
.name h2 {
  margin-bottom: 15px;
}

/*form features*/
.formFeatures {
  display: flex;
  gap: 30px;
  margin-top: 15px;
  white-space: nowrap;
  font-size: 13px;
}
.formFeatures span {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: -25px;
}
.anchors {
  display: flex;
  flex-direction: column;
}

.anchors span a {
  text-decoration: none;
  color: blue;
  width: 100%;
}
.cbox {
  margin-bottom: 8px;
}
@media screen and (max-width: 938px) {
  .inForm {
    min-width: 300px;
  }
}
@media screen and (max-width: 738px) {
  .inForm {
    margin: 10px;
  }
  .inForm {
    width: 40%;
    min-width: 300px;
  }
}
