/* header */

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --dark: #282e33; /*282e33*/
  --main: #75777a; /*7b7f85*/
  --light: #c1c4c8; /*c1c4c8*/
  --background: #f5f6f7;
}
body {
  background: var(--background);
  height: 200vh;
}
.header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.menu {
  margin-left: auto;
  margin-right: 50px;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu ul li {
  margin: 0 15px;
  position: relative;

  opacity: 0;
  animation: ltr 1s calc(0.2s * var(--i)) ease forwards;
}
.menu ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -3px;
  background: var(--dark);
  border-radius: 99px;
  transition: 0.4s ease-in-out;
}
.menu ul li:hover::before {
  transform: scaleX(100%);
}
.menu ul li a {
  text-decoration: none;
  color: var(--dark);
  transition: 0.4s ease;
  font-weight: bolder;
}
.logo {
  color: var(--dark);
  margin-left: 80px;
  font-size: 35px;
  font-weight: bolder;
  transition: all 0.4s ease;
  /* animation */
  opacity: 0;
  animation: ltr 1s ease forwards;
}
.logo:hover {
  scale: 1.1;
}
.loginButton {
  margin-right: 80px;
}
.loginButton button {
  border: 2px solid var(--dark);
  color: var(--background);
  outline: none;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  transition: 0.4s ease;
  background: var(--dark);
  cursor: pointer;
  /* animation */
  opacity: 0;
  animation: rtl 1s 1.5s ease forwards;
}
.loginButton button:hover {
  color: var(--dark);
  background: var(--background);
  border: 2px solid var(--dark);
}
.loginButton button:active {
  background: var(--dark);
  color: var(--background);
}
/*scroll page*/
.header.scroll .logo {
  color: var(--background);
}
.header.scroll {
  animation: scroll 0.4s ease;
  background: var(--dark);
}
.header.scroll .loginButton button {
  background: var(--background);
  border: 2px solid var(--background);
  color: var(--dark);
}
.header.scroll .loginButton button:hover {
  color: var(--background);
  background: var(--dark);
  border: 2px solid var(--background);
}
.header.scroll .loginButton button:active {
  background: var(--background);
  color: var(--dark);
}
.header.scroll .menu ul li a {
  color: var(--background);
}
.header.scroll .menu ul li::before {
  background: var(--background);
}
@keyframes scroll {
  0% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0;
  }
}

/* content */

@media screen and (max-width: 900px) {
  .loginButton {
    display: none;
  }
}
@media screen and (max-width: 730px) {
  .menu {
    display: none;
  }
  .logo {
    margin-left: 25px;
  }
}
@keyframes ltr {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rtl {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
